@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply WFSL tokens */
body {
  background: var(--wfsl-background);
  font-family: var(--wfsl-font-sans);
  color: var(--wfsl-secondary);
}

/* Remove focus rings unless keyboard used */
*:focus:not(:focus-visible) {
  outline: none;
}
